<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Фильм ' + ${film.getTitle} + ' (' + ${film.getDiskNumber()} + ')'"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col s9">
            <div class="row">
                <div class="col s12">
                    <h3 th:text="${film.getTitle()}"></h3>
                    <p th:if="${film.rent}" class="grey-text">(сейчас у [[${film.rent.name}]])</p>
                </div>
                <div class="col s3">
                    <h5>Год</h5>
                    <p th:text="${film.getYear()}"></p>
                </div>
                <div class="col s6">
                    <h5>Номер диска</h5>
                    <p th:text="${film.getDiskNumber()}"></p>
                </div>
                <div class="col s12" th:if="${film.getGenre().length()>0}">
                    <h5>Жанр</h5>
                    <p th:text="${film.getGenre()}"></p>
                </div>
                <div class="col s12" th:if="${film.getDirector().length()>0}">
                    <h5>Режиссер</h5>
                    <p th:text="${film.getDirector()}"></p>
                </div>
                <div class="col s12" th:if="${film.getRole().length()>0}">
                    <h5>В ролях</h5>
                    <p th:text="${film.getRole()}"></p>
                </div>
            </div>
        </div>
        <div class="col s3 center-align">
            <img th:src="${film.getCoverImageLink()}" style="max-height: 300px; margin-top: 20px;" th:alt="${film.title}" src="#">
        </div>
        <div class="col s12">
            <a th:href="@{/film/{id}/links/add(id=${film.id})}" class="btn" title="Добавить ссылку">
                <i class="material-icons">link</i>
            </a>
            <a th:unless="${film.rent}" th:href="@{/film/{id}/rent(id=${film.id})}" class="btn" title="Отдать">
                <i class="material-icons">redo</i>
            </a>
            <a th:if="${film.rent}" th:href="@{/film/{id}/rent/back(id=${film.id})}" class="btn" title="Вернуть">
                <i class="material-icons">undo</i>
            </a>
            <a th:href="@{/film/{id}/edit(id=${film.id})}" class="btn" title="Редактировать">
                <i class="material-icons">edit</i>
            </a>
            <a th:href="@{/film/{id}/delete(id=${film.id})}" class="btn red" title="Удалить">
                <i class="material-icons">delete</i>
            </a>
        </div>
        <div class="col s12">
            <h5>Ссылки</h5>
            <ul>
                <li th:each="link : ${film.links}">
                    <a th:href="${link.url}" th:text="${link.title}" target="_blank">ссылка</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>